@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Cloudnloud Cancer NGO</h1>
    <h1 class="display-4">Learn Everything from Your own laptop Lab</h1>
    <h1 class="display-4">Fail multiple Times</h1>
    <h1 class="display-4">Dont Shy to fail in your own lab</h1>
    <h1 class="display-4">Dont be fear to fail in your own lab</h1>
    <h1 class="display-4">Keep Learn !!! Keep Grow !!! Keep Invite your friends !!</h1>
    <h1 class="display-4">All Trainings are free in YouTube - https://www.youtube.com/c/CloudnLoud/ </h1>
    <h1 class="display-4">All Trainings are free in WebSite - https://cloudnloud.com/classes/ </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core using AZURE PIPELINE  </a>.</p>
</div>
