@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Cloudnloud Cancer NGO</h1>
    <h3 >Learn Everything from Your own laptop Lab</h3>
    <h5 >Fail multiple Times</h5>
    <h5 >Dont Shy to fail in your own lab</h5>
    <h5 >Dont be fear to fail in your own lab</h5>
    <h5 >Keep Learn !!! Keep Grow !!! Keep Invite your friends !!</h5>
    <p> <a href="https://www.youtube.com/c/CloudnLoud/">All Trainings are free in YouTube   </a>.</p>
    <p> <a href="https://cloudnloud.com/classes/">All Trainings are free in WebSite   </a>.</p>
</div>
