@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wanna Loud Come to Cloudnloud</h1>
    <p>Welcome Cloudnloud Cancer NGO </p>
    <p>Learn Everything from Your own laptop Lab </p>
    <p>Fail multiple Times </p>
    <p>Dont Shy to fail in your own lab </p>
    <p>Dont be fear to fail in your own lab </p>
    <p>Keep Learn !!! Keep Grow !!! Keep Invite your friends !! </p>
    <p>All Trainings are free in YouTube <a href="https://www.youtube.com/c/CloudnLoud/"> All Cloud DevOps Trainings are Free  </a>.</p>
    <p>All Trainings are free in WebSite <a href="https://cloudnloud.com/classes/"> All Cloud DevOps Trainings are Free  </a>.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core using AZURE PIPELINE  </a>.</p>
</div>
